{% extends '_base.jinja' %}
{% block content %}

<main class="container" data-controller="{{ arg['name'] }}" data-home-refresh-interval-value="1000">
    <nav class="navbar navbar-expand fixed-top bg-light">
        <div class="container">
            <form class="flex-fill row" data-action="submit->home#postItem">
                <label class="col-auto col-form-label" for="url">유튜브 주소</label>
                <div class="col input-group">
                    <span class="input-group-text">
                        <i class="bi bi-youtube"></i>
                    </span>
                    <input id="url" name="url" class="form-control" type="url"
                        placeholder="https://www.youtube.com/watch?v=" data-home-target="url">
                    <button class="btn btn-primary" type="submit">
                        <i class="bi bi-plus"></i>
                    </button>
                </div>
            </form>

            <div class="ms-4">
                <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#searchModal">
                    검색
                </button>
            </div>
        </div>
    </nav>

    <div class="col" data-home-target="playlist" style="margin: 80px 0;"></div>

    <nav class="navbar fixed-bottom bg-light">
        <div class="container">
            <div class="row justify-content-around flex-fill">
                <div class="col-4"></div>
                <div class="col-4 d-flex">
                    <div class="btn-group flex-fill" role="group">
                        <button class="btn btn-secondary" type="button" data-action="click->home#putCommand"
                            data-cmd="prev">
                            <i class="bi bi-skip-start-fill"></i>
                        </button>
                        <button class="btn btn-dark" type="button" data-action="click->home#putCommand" data-cmd="play">
                            <i class="bi bi-play-fill" data-home-target="playButton"></i>
                        </button>
                        <button class="btn btn-secondary" type="button" data-action="click->home#putCommand"
                            data-cmd="next">
                            <i class="bi bi-skip-end-fill"></i>
                        </button>
                    </div>
                </div>
                <div class="col-3 ms-auto">
                    <div class="row">
                        <label class="col-auto col-form-label" for="volume">
                            <i class="bi bi-volume-down-fill"></i>
                        </label>
                        <div class="col align-self-center">
                            <input id="volume" name="volume" class="form-range align-middle" type="range" value="100"
                                min="0" max="100" step="1" data-home-target="volume" data-action="input->home#putVolume"
                                data-bs-toggle="tooltip">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="searchModalLabel">유튜브 뮤직 검색</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="row mb-3" data-action="submit->home#getSearch">
                        <div class="col">
                            <div class="input-group">
                                <input id="search" name="search" class="form-control" type="text"
                                    data-home-target="search">
                                <button class="btn btn-primary" type="submit">
                                    <i class="bi bi-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col" data-home-target="result"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="{{ url_for('static', filename='%s.js' % arg['name']) }}"></script>

{% endblock %}
